<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href='{% static "style.css" %}'>
</head>
<body>
    <div class="container">
        <header class="topHeader topHeaderContainer">
            <div>
                <img src="/static/assets/images/header.png" height="220px" width="520px" class="headerImage">
            </div>
        </header>
        <div class="container">
            <p>While many more wordnets are being prepared to be included, at the moment of submitting this paper,
            the current installation of this browser makes use of the ones mentioned in the list below.</p>
            <dl>
                <dt>English Wordnet</dt>
                <dd>Christiane Fellbaum. WordNet. Wiley Online Library, 1998.</dd>
                <dt>Suomi (Finn) wordnet</dt>
                <dd>Krister Lindén and Lauri Carlson. Finn wordnet-wordnet på finska via översättning. LexicoNordica,
                    (17), 2010.</dd>
                <dt>اللغة العربية الفصحى
                (Arabic) Wordnet
                </dt>
                <dd>Sabri Elkateb, William Black, Horacio Rodríguez, Musa Alkhalifa, Piek Vossen, Adam Pease, and
                    Christiane Fellbaum. Building a wordnet for arabic. In Proceedings of The fifth international
                    conference on Language Resources and Evaluation (LREC 2006), pages 22–28, 2006.</dd>
                <dt>Português (Portuguese) Wordnet</dt>
                <dd>António Branco, Francisco Costa, Eduardo Ferreira, Pedro Martins, Filipe Nunes, João Silva,
                    and Sara Silveira. Lx-center: a center of online linguistic services. In Proceedings of the
                    ACL-IJCNLP 2009 Software Demonstrations, pages 5–8. Association for Computational Linguistics,
                    2009.</dd>
                <dt>Català, Euskera, Galego, Español (Catalan, Basque, Galician and Spanish) Wordnet</dt>
                <dd>Aitor Gonzalez-Agirre, Egoitz Laparra, and German Rigau. Multilingual central repository version
                    3.0: upgrading a very large lexical knowledgebase. In Proceedings of 6th International
                    Global Wordnet Conference (GWC 2012), page 118, 2012.</dd>
                <dt>中文 (Chinese) Wordnet</dt>
                <dd>Shan Wang and Francis Bond. Building the chinese open wordnet (cow): Starting from core synsets.
                    In Proceedings of the 11th Workshop on Asian Language Resources, a Workshop at IJCNLP, pages
                    10–18, 2013.</dd>
                <dt>Dansk (Danish) Wordnet</dt>
                <dd>Bolette Sandford Pedersen, Sanni Nimb, Jørg Asmussen, Nicolai Hartvig Sørensen, Lars TrapJensen,
                    and Henrik Lorentzen. Dannet: the challenge of compiling a wordnet for danish by reusing a
                    monolingual dictionary. Language resources and evaluation, 43(3):269–299, 2009.</dd>
                <dt>فارسى
                 (Persian) Wordnet
                </dt>
                <dd>Mortaza Montazery and Heshaam Faili. Automatic persian wordnet construction. In Proceedings
                    of the 23rd International Conference on Computational Linguistics: Posters, pages 846–850.
                    Association for Computational Linguistics, 2010.</dd>
                <dt>עברית
                 (Hebrew) Wordnet
                </dt>
                <dd>Noam Ordan and Shuly Wintner. Hebrew wordnet: a test case of aligning lexical databases
                    across languages. International Journal of Translation, 19(1):39–58, 2007.</dd>
                <dt>Bahasa Indonesia, Bahasa Malaysia (Indonesian and Malaysian) Wordnet</dt>
                <dd>Nurril Hirfana Bte Mohamed Noor, Suerya Sapuan, Francis Bond, et al. Creating the open wordnet
                    bahasa. In Pacific Asia Conference on Language, Information and Computation (PACLIC),
                    pages 255–264, 2011.</dd>
                <dt>日本語 (Japanese) Wordnet</dt>
                <dd>Kiyotaka Uchimoto Masao Utiyama Hitoshi Isahara, Francis Bond and Kyoko Kanzaki. Development of the
                    japanese wordnet. In Proceedings of the Sixth International Conference on Language Resources and
                    Evaluation (LREC’08). European Language Resources Association (ELRA), 2008.
                    ISBN 2-9517408-4-0. <a href="http://www.lrecconf.org/proceedings/lrec2008/">
                        http://www.lrecconf.org/proceedings/lrec2008/</a>.</dd>
                <dt>Nynorsk, Bokmål (Norwegian) Wordnet</dt>
                <dd>Ruth Vatvedt Fjeld and Lars Nygaard. Nornet—a monolingual wordnet of modern norwegian.</dd>
                <dt>Polski (Polish) Wordnet</dt>
                <dd>Maciej Piasecki, Bernd Broda, and Stanislaw Szpakowicz. A wordnet from the ground up. Oficyna
                    Wydawnicza Politechniki Wrocławskiej Wrocław, 2009.</dd>
                <dt>Slovenščina (Slovene) Wordnet</dt>
                <dd>Darja Fišer, Jernej Novak, and Tomaž Erjavec. slownet 3.0: development, extension and cleaning.
                    In Proceedings of 6th International Global Wordnet Conference (GWC 2012), pages 113–117, 2012.</dd>
                <dt>Svenska (Swedish) Wordnet</dt>
                <dd>Lars Borin, Markus Forsberg, and Lennart Lönngren. Saldo: a touch of yin to wordnet’s yang.
                    Language resources and evaluation, 47(4):1191–1211, 2013.</dd>
                <dt>ภาษาไทย (Thai) Wordnet</dt>
                <dd>Sareewan Thoongsup, Kergrit Robkop, Chumpol Mokarat, Tan Sinthurahat, Thatsanee Charoenporn,
                    Virach Sornlertlamvanich, and Hitoshi Isahara. Thai wordnet construction. In Proceedings
                    of the 7th workshop on Asian language resources, pages 139–144. Association for Computational
                    Linguistics, 2009.</dd>
                <dt>Italiano (Italian) Wordnet</dt>
                <dd>Emanuele Pianta, Luisa Bentivogli, and Christian Girardi. Multiwordnet: developing an aligned
                    multilingual database. first global wordnet conference (gwc 2002). India, January, 2002.</dd>
            </dl>
        </div>
    </div>
</body>
</html>