<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My WordNet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <script src='{% static "language.js" %}'></script>
    <script src='{% static "index.js" %}'></script>
</head>
<body>
    <div class="container">
        <div class="topRight">
            <a href="#" id="references">
                <i class="material-icons md-36">import_contacts</i>
            </a>
            <a href="https://github.com/nlx-group/LX-WordNetBrowser" target="_blank">
                <i class="material-icons md-36">file_download</i>
            </a>
        </div>
        <header class="topHeader">
            <div class="btn-group middle menuLanguage"  role="group">
            <span class="clickable English language">English</span> | <span class="clickable Portuguese language">Português</span> | <span class="clickable French language">Français</span> | <span class="clickable Chinese language">官话</span> | ...  <div class="dropdown dropdown-sm" id="langSelectParent"><button class="btn btn-default btn-xs dropdown-toggle" type="button" id="langSelectBox" data-tool-tip="tooltip" data-placement='right' data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div class="dropdown-menu invis">
                    <form class="form-horizontal" role="form">
                        <select id="langSelectList"></select>
                    </form>
                </div>
            </div>
        </div>
            <div>
                <span class="headerText">My WordNet</span>
            </div>
        </header>
        <div class="row vertical-center-row">
            <div id="langListTarget" class="col-md-12">
                <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" id="searchInput"/>
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg" id="parent-dropdown">
                            <button type="button" id="normal-search" data-tool-tip="tooltip" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                <button id="globe" type="button" class="btn btn-default dropdown-toggle" data-tool-tip="tooltip" id="parentdropdown" data-toggle="dropdown" aria-expanded="false"><img src="/static/assets/images/globe.png"></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label id="formLabel"></label>
                                            <select class="langmenu" multiple="multiple">
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>